{{> header }}
   {{> navbar }}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>About</h1>
            </dir>
        </div>
        
        <dir class="row">
            <div class="col">
                <p class="text-justify">
                        El contenido de la página tiene como objetivo probar componentes, y a su vez dar un resumen de lo que estamos viviendo actualmente:</br>
                        El Covid - 19 es un virus que se originó en la ciudad de Wuhan - China, y a partir de ese lugar se ha ido propagando hasta convertirse en una pandemia, para combatirla muchos de los países han declarado un estado de cuarentena, entre ellos Ecuador generando una carga emocional en los ciudadanos. En la actualidad todas las personas tienen acceso a Internet, esto añadido al aislamiento y a la disponibilidad de tiempo han provocado que las personas caigan en el uso indiscriminado de las redes sociales.
                </p>
            </div>
            <div class="col">
                <img src="assets/imagenes/covid.jpg" class="img-thumbnail">
            </div>
        </div>
    </div>
{{> footer }}